@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* background-color: rgb(0, 51, 124); */
}

/* Display the checkbox input on screens smaller than md */
/* display the ul list in a row but responsive */
/* @media (max-width: 767px) {
  #menu-toggle:checked~ul {
    display: flex !important;
  }
} */